li {
  list-style: circle;
  text-align: left;
  margin: 5px;
}

li:hover {
  background-color: grey;
}

label {
  font-weight: 600;
}

ul {
  padding: auto;
  border: solid 0.1em grey;
  background-color: rgb(221, 214, 205);
  margin: 0;
}
